body {
    font-family: "Gill Sans", sans-serif;
}

.product {
    box-sizing: border-box;
    display: inline-block;
    width: 28%;
    padding-top: 40px;
    padding-left: 30px;
    margin: 30px;
}

img {
    height: 351px;
}

.prodtitle {
    font-weight: bold;
    color: rgb(119, 119, 119)
}

.price {
    padding-left: 270px;
    font-weight: bold;
    color: rgb(77, 77, 77)
}
.proddesc {
    font-weight:500
}